<section class="document-update">
  <div class="container">
    <div class="row">
      <div class="col-6">

        <div class="alert alert-info" *ngIf="message">{{ message }}</div>

        <form (submit)="saveDocument()">
          <div class="form-group">
            <label for="name">Наименование <span class="text-danger">*</span></label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="form.name">
          </div>
          <div class="form-group">
            <label for="number">Номер <span class="text-danger">*</span></label>
            <input type="number" id="number" max="10000" name="number" class="form-control" [(ngModel)]="form.number">
          </div>
          <div class="form-group">
            <label for="note">Примечание</label>
            <textarea name="note" id="note" cols="30" rows="10" class="form-control" [(ngModel)]="form.note"></textarea>
          </div>
          <div class="form-group">
            <label for="created_at">Дата <span class="text-danger">*</span></label>
            <input type="date" id="created_at" name="created_at" class="form-control" [(ngModel)]="form.created_at">
          </div>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</section>
