<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <h4 class="mb-3">Authorization</h4>
    <div class="form-group mb-2">
      <div class="alert alert-danger small py-1 px-2" *ngIf="errors">
        {{ errors }}
      </div>
    </div>
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="form.email">
    </div>
    <div class="form-group">
      <input type="text" name="password" class="form-control" placeholder="Password" [(ngModel)]="form.password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary w-100" (click)="auth()">Submit</button>
    </div>
  </div>
</div>
